@model ProductDetailViewModel
@{
    ViewData["Title"] = Model.Product.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/Img/@Model.Product.Image" alt="@Model.Product.Name"></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-@Model.Product.Id</div>
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="fs-5 mb-5">
                    <span>@Model.Product.Price ₺</span>
                </div>
                <p class="lead">
                    @Html.Raw(Model.Product.Description)
                </p>

                <form asp-controller="Cart" asp-action="AddToCart">
                    <input type="hidden" asp-for="Product.Id" />
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" name="quantity" type="number" value="1" style="max-width: 3rem">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Sepete Ekle
                        </button>
                        
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>

<!-- Related items section-->
@*<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">İlişkili Ürünler</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_ProductPartial" model="Model.RelatedProducts" />
        </div>
    </div>
</section>*@

<section>
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder">@Model.Product.Category.Name kategorisindeki diğer ürünler</h2>
    </div>
    <partial name="_PartialProducts" model="Model.Products" />
</section>
